/* Use your own code or past solution for Great Idea Web Page CSS here! */



.conainer{
  width: 1024px;
  /*display:flex;  */
}

/* NAVIGATION BAR */
header {
  display:flex;
   justify-content: center; 
  /* width: 800px; */
}
nav a {
  text-decoration: none;
  color: gray;
  margin-left: 60px;
  padding: 40px;
  font-weight: bold ;
  
}

nav a:hover {
  color: black;
}




/* INNOVATION ON DEMAND/CIRCLE PICTURE SECTION */
.innovation {
  display: flex;
  justify-content: center;
  padding-top: 5%;
 }

 .btn {
  margin-left: 97px;
  
}  

.ondemand {
  position: center;
  top: 100px;
  left: 300px;
}
.on {
  padding-left: 95px;
}
.demand {
  padding-left: 30px;
}
.ondemand h2 {
  font-size: 60px;
}
.ondemand p {
  display: flex;
  width: 70%;
  padding: 7px 40px;
  border: 1px solid black;
}
/* END INNOVATION ON DEMAND/CIRCLE PICTURE SECTION */


/* MIDDLE PARAGRAPH WITH BIG PICTURE SECTION */
.moreinfo {
  display: flex;
  margin-left: 600px;
  width: 800px;
  padding-top: 30px;
  padding-bottom: 30px;
}


/* 1st hr divider */
.first-divide {
  width: 800px;
  margin-left: 600px;
  
} 

/* 2nd hr divider */
.divide-two {
  width: 800px;
  margin-left: 600px;
}


.features {
  justify-content: space-evenly;
  width: 100%;
}
/* image in middle */
.middle-img {
  width: 800px;
  margin-left: 600px;
}
/* END MIDDLE PARAGRAPH WITH BIG PICTURE SECTION */


/*footer section */
footer {
  width: 100%;
}
address {
  padding-top: 40px;
  padding-bottom: 150px;
}

.copyright {
  display: flex;
  justify-content: center;
  top: 230px;
  left: 300px;
}

